$grid-unit: 8px;

$max-content-width: 1040px;
$md-content-width: 800px;
// break points
$min-width-sm: "min-width: 500px";
$min-width-md: "min-width: 768px";

// COLORS
// https://coolors.co/bce172-cfa17b-c72515-23201b-c3ea97
$black: #23201b;
$red: #c72515;
$green: #bce172;
$light-green: #c3ea97;
$beige: #cfa17b;
