@import "../../styles/config";

header {
  padding: gridUnits(4) 0;

  .header-inner {
    padding: 0 gridUnits(2);

    @include MQ(md) {
      padding: 0;
    }

    .image-container {
      max-width: gridUnits(24);

      img {
        margin-bottom: 0;
      }
    }
  }
}
